
코딩테스트 연습 > 
탐욕법(Greedy) > 
체육복

인터넷에서 본 코드

In [ ]:
def solution(n, lost, reserve):
    _reserve = [r for r in reserve if r not in lost]
    _lost = [l for l in lost if l not in reserve]
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    print(_lost)
    return n - len(_lost)

안 되는 이유?

In [ ]:
solution(5,[1,2,3],[3,4,5])

[1, 2]

3

18, 20번이 통과되지 않는다..

아래의 소스코드에서 오름차순 과정이 없다면, 먼저 좌쯕체크 후 우측을 체크하는과정만을 거쳐 예외 케이스가 발생한다

 

예를 들어 아래와 같은 상황이다

 

n = 5

lost = [2, 4], reserve = [3, 1]

 

정상적인 상황이라면 1번 학생이 2번에게 3번 학생이 4번에게 빌려 줄 수 있으나, 정렬을 하지 않는다면 3번이 2번에게 빌려주어 4번 학생은 빌릴 수가 없게되므로 처음에 reserve를 정렬하는 과정이 필요하다

 

(2021년 8월 30일 테스트케이스가 추가되었습니다. 에 해당하는 18, 20번 Test Case가 예외상황인 것 같다.)

 출처 

*   https://variety82p.tistory.com/entry/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4%EC%B2%B4%EC%9C%A1%EB%B3%B5-%ED%8C%8C%EC%9D%B4%EC%8D%ACpython
*   https://chancoding.tistory.com/216가

In [ ]:
solution(5,[2,4],[3,1])

[4]

4

정렬을 하지 않으면 해당 결과(오답)가 나온다

In [ ]:
def solution(n, lost, reserve):
    _reserve = [r for r in reserve if r not in lost]
    _lost = [l for l in lost if l not in reserve]
    _lost.sort()
    _reserve.sort()
    for r in _reserve:
        f = r - 1
        b = r + 1
        if f in _lost:
            _lost.remove(f)
        elif b in _lost:
            _lost.remove(b)
    return n - len(_lost)

In [ ]:
solution(5,[2,4],[3,1])

5

위의 코드는 오류가 나지 않는데 아래 코드는 오류가 난다...

In [ ]:
def solution(n, lost, reserve):
    lostt = [l for l in lost if l not in reserve] #sorted
    reservee = [r for r in reserve if r not in lost]
    for r in reservee:
        if r+1 in lostt:
            lostt.remove(r+1)
        elif r-1 in lostt:
            lostt.remove(r-1)
    return n - len(lostt)

list.sort() 함수를 써서 정렬

In [ ]:
lost=[3,1,0,-3]
reserve =[1]
_reserve = [r for r in lost if r not in reserve]
_reserve.sort()
rsrv = _reserve.sort() #새로운 변수로 지정해주면 결과가 None 으로 나온다

In [ ]:
print(_reserve,rsrv) #목록 자체가 재정렬 되는 .sort()함수

[-3, 0, 3] None

sorted(list)

In [ ]:
lost=[3,1,0,-3]
reserve =[1]
_reserve = [r for r in lost if r not in reserve]
sorted(_reserve)
rsrv = sorted(_reserve)

In [ ]:
print(_reserve,rsrv)

[3, 0, -3] [-3, 0, 3]

K번째 수


문제 설명
배열 array의 i번째 숫자부터 j번째 숫자까지 자르고 정렬했을 때, k번째에 있는 수를 구하려 합니다.

예를 들어 array가 [1, 5, 2, 6, 3, 7, 4], i = 2, j = 5, k = 3이라면

array의 2번째부터 5번째까지 자르면 [5, 2, 6, 3]입니다.
1에서 나온 배열을 정렬하면 [2, 3, 5, 6]입니다.
2에서 나온 배열의 3번째 숫자는 5입니다.
배열 array, [i, j, k]를 원소로 가진 2차원 배열 commands가 매개변수로 주어질 때, commands의 모든 원소에 대해 앞서 설명한 연산을 적용했을 때 나온 결과를 배열에 담아 return 하도록 solution 함수를 작성해주세요.

제한사항
array의 길이는 1 이상 100 이하입니다.
array의 각 원소는 1 이상 100 이하입니다.
commands의 길이는 1 이상 50 이하입니다.
commands의 각 원소는 길이가 3입니다.

In [ ]:
def solution(array, commands):
    answer = []
    for c in commands:
        i = c[0]-1
        j = c[1]
        k = c[2]-1
        li = array[i:j]
        answer.append(sorted(li)[k])
    return answer

>>답을 참고하지 않고 풀었다 !

In [ ]:
#람다함수
def solution(array, commands):
    return list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))